.register-wrapper{
    height:100%;
    width:100%;
    background-image: url("../../../resources/auth/background-2.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
}

em{
    color: #e71515;
    font-weight: bold;
}
.ng-invalid.ng-touched{
    border-color: red;
}
.card{
    background: rgba(1, 2, 1, 0.635);
    place-self: center;
    border:none;
    color:white;
    text-align: center;
}
.form-label{
    width:100%;
}