<div class="layout-wrapper">
    <div class="flex-wrapper">
        <!-- Admin Sidenav -->
        <mat-drawer-container class="example-container" autosize>
            <mat-drawer #drawer class="admin-sidenav" mode="side">
                <div class="sidenav-header">
                    <label class="sidenav-title">Admin Panel</label>
                    <button mat-icon-button type="button" (click)="drawer.toggle()">
                        <mat-icon>keyboard_backspace</mat-icon>
                    </button>
                </div>
                <div class="sidenav-contents">
                    <a class="sidenav-content-button" href="/admin-panel/create-stand">Create Stand</a>
                </div>
            </mat-drawer>
        </mat-drawer-container>
        <!-- Admin Sidenav -->

        <!-- Navigation -->
        <mat-toolbar color="primary">
            <button *ngIf='isUserAdmin()' mat-icon-button type="button" (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <a class="nav-button" routerLink="/home">Home</a>
            <div class="nav-auth-button" *ngIf='!isUserAuthenticated'>
                <a class="nav-button" routerLink="/authentication/login">Login</a>
                <a class="nav-button" routerLink="/authentication/register">Register</a>
            </div>
            <div *ngIf='isUserAuthenticated'>
                <a class="nav-button" routerLink="/stand">Stand</a>
            </div>
            <button class="nav-button nav-logout-button" *ngIf='isUserAuthenticated' (click)='logout()'>Logout</button>
        </mat-toolbar>
        <!-- Navigation -->

        <!-- Content -->
        <ng-content></ng-content>
        <!-- Content -->
    </div>
</div>