<mat-toolbar color="primary">
    <!-- show if admin -->
    <!-- <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div> -->
    <div>
        <a routerLink="/home">Home</a>
    </div>

    <div *ngIf='!isUserAuthenticated'>
        <a routerLink="/authentication/login">Login</a>
        <a routerLink="/authentication/register">Register</a>
    </div>
    <!-- <div *ngIf='isUserAuthenticated'> -->
        <a routerLink="/stand">Stand</a>
    <!-- </div> -->
    <div *ngIf='isUserAuthenticated'>
        <button (click)='logout()'>Logout</button>
    </div>

</mat-toolbar>